.container {
    display: grid;
    place-items: center;
    background-color: #f2f1ef;
    padding: 10px;
}

.text {
    margin-right: 10px;
}

.text-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.players-wrapper {
    display: flex;
}

.player {
    min-width: 500px;
    border: 1px solid #22161c;
    padding: 20px;
}

.progress {
    width: 100%;
}

.player:not(:last-child) {
    margin-right: 10px;
}

input {
    width: 100%;
}

.input-wrapper {
    width: 100%;
    display: flex;
    /*align-items: center;*/
}

.input-datalist-wrapper {
    width: 100%;
}

.input-label {
    margin-right: 10px;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn:not(:last-child) {
    margin-right: 5px;
}

.input-wrapper:not(:last-child) {
    margin-bottom: 5px;
}

datalist {
    display: flex;
    justify-content: space-between;
}

.input-datalist-wrapper {
    display: flex;
    flex-direction: column;
}

.biquadFilter {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.bq-filter-checkbox {
    width: 30px;
}

.convolver-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}